{{!-- Persistant Add Button --}}
<div class="add-button-box zindex-sticky" role="button" data-toggle="modal" data-target="#host-modal">
  <div class="add-button button-depth">
    <i class="fas fa-plus"></i>
  </div>
</div>