<div class="modal fade p-0" id="alert-modal-post" tabindex="-1" role="dialog" aria-labelledby="alert-modal-post-label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {{!-- Modal Body --}}
      <div class="modal-body py-0">
        {{!-- Modal Footer --}}
        <p class="py-3 mb-0 text-center f-700 alert-text"></p>
        <div class="modal-footer px-0">
          <form method="POST" action="" class="d-inline w-100 m-0 text-center alert-form">
            <button type="submit" class="py-1 button button-depth button-color-2">Yes</button>
            <button type="button" class="py-1 button button-depth button-color-5" data-dismiss="modal">No</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade p-0" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="alert-modal-label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {{!-- Modal Body --}}
      <div class="modal-body py-0">
        {{!-- Modal Footer --}}
        <p class="py-3 mb-0 text-center f-700 alert-text"></p>
        <div class="modal-footer px-0">
          <form class="d-inline w-100 m-0 text-center alert-form">
            <button type="button" class="py-1 button button-depth button-color-2 confirm-button" data-dismiss="modal">Yes</button>
            <button type="button" class="py-1 button button-depth button-color-5" data-dismiss="modal">No</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>