<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-shrink"
    aria-controls="navbar-shrink" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/dashboard"><i class="fas fa-carrot"></i>Stalk Market</a>
  <div class="collapse navbar-collapse" id="navbar-shrink">
    <form class="form-inline my-sm-0 form-row ml-auto">
      <button class="px-3 py-2 my-0 mx-2 h6 button button-depth button-color-4 f-700" type="button"
        id="search-button">Search</button>
      <input class="form-control mr-2 col" id="autocomplete-nav" type="search" placeholder="Search Island..."
        aria-label="Search">
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fas fa-question-circle"></i></i>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/profile/{{uuid}}"><i class="far fa-address-card"></i>Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout"><i class="fas fa-sign-out-alt"></i>Sign Out</a>
      </li>
    </ul>
  </div>
</nav>