<div class="container text-center vh-center">
  <div>
    <div class="title-group my-4">
      <h2>Welcome to the</h2>
      <h1>Stalk Market</h1>
    </div>
    <div class="row my-3">
      <div class="col-sm-6 px-2">
        <a class="button button-depth button-color-1 w-100" href="/user/signup">
          <i class="fas fa-user-plus"></i>Sign Up
        </a>
      </div>
      <div class="col-sm-6 px-2">
        <a class="button button-depth button-color-2 w-100" href="/user/signin">
          <i class="fas fa-sign-in-alt"></i>Sign In
        </a>
      </div>
    </div>
    <div class="row my-3">
      <div class="col px-2">
        <a class="button button-depth button-color-3 w-100 p-1" href="/about">
          <i class="fas fa-user-plus"></i>About Page
        </a>
      </div>
    </div>
  </div>
</div>